// Content partial


/**
 * Content Section
 */

$content-title-size: 1.8rem;
$content-title-line-height: 1.2;

.content {
  padding: $spacing-unit/2 0;
  flex: 1;
}
.page-header {
  margin-top: $spacing-unit/2;
}
.title {
  margin: 0;
  font-size: $content-title-size;
  line-height: $content-title-line-height;
}

/* Posts */
.post-content {
  margin-bottom: $spacing-unit;

  h1 {
    font-size: 1.7rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }
}


/* Pages */

.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}