

// various parameters
$post-header-num-date-background-color: #202020;
$post-header-num-date-color: #f8f8f8;
$post-header-num-date-size: 3.6rem;
$post-header-num-date-padding: 0.1rem;
$post-header-num-date-date-size: .95rem;
$post-header-num-date-line-height: 1.1;
$post-header-num-date-num-size: 2rem;
$post-header-area-tags-size: .88rem;

//calculated values
$post-header-num-date-date-margin-top: ($post-header-num-date-date-size * $post-header-num-date-line-height * 3)/2;
$post-header-num-date-num-margin-top: ($post-header-num-date-num-size * $post-header-num-date-line-height)/2;

.post-header {
  margin-bottom: $spacing-unit/3;
  // Work the entire top area
  .post-num-date-title {
    margin-top: $spacing-unit/2;
    // Add stuff to make this a flex display
    label {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: flex-start;
      align-items: center;
    }
    // Make two overlapping boxes for the post # and the date.   
    .post-num-date {
      position: relative;
      //width: $post-header-num-date-size;
      //width: max-content;
      height: $post-header-num-date-size;
      //display: inline-block;
      //vertical-align: middle;
      .post-date, .post-num {
        position: absolute;
        top: 0;
        left: 0;
        //width: $post-header-num-date-size;
        min-width: 100%;
        height: $post-header-num-date-size;
        line-height: $post-header-num-date-line-height;
        text-align: center;
        border-radius: 3.5px;
        background-color: $post-header-num-date-background-color;
        color: $post-header-num-date-color;
        cursor: pointer;
      }
      //Fixes for more arbitrary number lengths
      .post-num {
        position: inherit;
        display: inline-block;
        line-height: $post-header-num-date-size;
      }
      //Center the texts
      .post-date p {
        position: relative;
        font-size: $post-header-num-date-date-size;
        top: $post-header-num-date-size/2;
        margin-top: -#{$post-header-num-date-date-margin-top};
        span {
          display: block;
          font-weight: 900;
        }
      }
      .post-num p {
        // For UX make the number unselectable. 
        user-select: none;
        -webkit-user-select: none;
        position: relative;
        //top: $post-header-num-date-size/2
        top: 0;
        min-width: $post-header-num-date-size - $post-header-num-date-padding*2;
        padding: 0 $post-header-num-date-padding;
        font-size: $post-header-num-date-num-size;
        //margin-top: -#{$post-header-num-date-num-margin-top};
      }
      //Add animation so that on hover it shows date
      .post-num {
      transition: all .15s ease;
      opacity: 1;
      &:hover {
        opacity: 0;
        }
      }
    }
    // Also make it so it does the same action as hover on click.
    .post-num-date-trigger {
      display: none;
    }
    input:checked ~ label .post-num {
      opacity: 0;
    }
    
    //Keep this sized to just fit
    .title {
      //display: inline-block;
      //vertical-align: middle;
      padding-left: $spacing-unit/3;
      //width: -webkit-calc(100% - #{$post-header-num-date-size} - #{$spacing-unit/3});
      //width: calc(100% - #{$post-header-num-date-size} - #{$spacing-unit/3});
      a {
        color: $text-color;
        text-decoration: none;
      }
    }
  }
  //make the tags slightly inset
  .post-areas-tags {
    margin-top: $spacing-unit/5;
    margin-bottom: 0;
    font-size: $post-header-area-tags-size;
    a {
      color: $grey-color-dark;
      text-decoration-color: fade-out($grey-color, .6);
      &:hover {
      text-decoration-color: darken(fade-out($grey-color, .2), 8%);
      }
    }
  }
}